Geofencing-Microservice/geofencing-venv/
Geofencing-Microservice/.pytest_cache/
Geofencing-Microservice/src/__pycache__/
Geofencing-Microservice/tests/__pycache__/

Carer-Device/carerDevice-venv/
Carer-Device/.pytest_cache/
Carer-Device/src/__pycache__/
Carer-Device/tests/__pycache__/

Outputs
Results
__pycache__