Geofencing-Microservice/geofencing-venv/
Geofencing-Microservice/src/__pycache__/

KeyAuthority-Microservice/keyAuthority-venv/
KeyAuthority-Microservice/.pytest_cache/
KeyAuthority-Microservice/src/__pycache__/
KeyAuthority-Microservice/tests/__pycache__/

